version: "3.9"
services:
  config-server:
    container_name: config-server
    build: config-server/
    hostname: localhost
    network_mode: host
    ports:
      - 8888:8888
	networks:
      net5:
         ipv4_address: 12.12.0.2
    restart: always

  eureka-server:
    container_name: eureka-server
    build: eureka-server/
    restart: always
    network_mode: host
    hostname: localhost
    ports:
      - 8761:8761
	networks:
      net5:
         ipv4_address: 12.12.0.3
    depends_on:
      - config-server

  api-gateway:
    container_name: api-gateway
    build: api-gateway/
    depends_on:
      - eureka-server
      - config-server
    restart: always
    network_mode: host
    hostname: localhost
    ports:
      - 8080:8080
	networks:
      net5:
         ipv4_address: 12.12.0.4


  mysql:
    image: mysql:latest
    container_name: mysql
    restart: always
    hostname: localhost
    network_mode: host
    ports:
      - 3306:3306
	networks:
      net5:
         ipv4_address: 12.12.0.5
    environment:
      MYSQL_ROOT_PASSWORD: 'Password'
      MYSQL_PASSWORD: root
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"

  mongodb:
    image: mongo:latest
    container_name: mongo-container
    network_mode: host
    hostname: localhost
    ports:
      - 27017:27017
	networks:
      net5:
         ipv4_address: 12.12.0.6


  user-service:
    container_name: user-service
    build: user-service/
    hostname: localhost
    network_mode: host
    ports:
      - 8075:8075
	networks:
      net5:
         ipv4_address: 12.12.0.7
    depends_on:
      - mongodb
      - eureka-server
      - config-server
    restart: always

  authentication-service:
    container_name: authentication-service
    build: authentication-service/
    hostname: localhost
    network_mode: host
    ports:
      - 8095:8095
	networks:
      net5:
         ipv4_address: 12.12.0.8
    depends_on:
      - eureka-server
      - config-server
    restart: always

  appointment-service:
    container_name: appointment-service
    build: appointment-service/
    hostname: localhost
    network_mode: host
    ports:
      - 8060:8060
	networks:
      net5:
         ipv4_address: 12.12.0.9
    depends_on:
      - mongodb
      - eureka-server
      - config-server
    restart: always

  email-service:
    container_name: email-service
    build: email-service/
    hostname: localhost
    network_mode: host
    ports:
      - 7777:7777
	networks:
      net5:
         ipv4_address: 12.12.0.10
    depends_on:
      - eureka-server
      - config-server
    restart: always

  product-webapp:
    container_name: product-webapp
    build: product-webapp/
    hostname: localhost
    restart: always
    network_mode: host
    ports:
      - 3000:3000
	networks:
      net5:
         ipv4_address: 12.12.0.11
   

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - 15672:15672
      - 5672:5672
	networks:
      net5:
         ipv4_address: 12.12.0.12
    environment:
      RABBITMQ_DEFAULT_USER: "root"
      RABBITMQ_DEFAULT_PASS: "root123"


networks:
  net5:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 12.12.0.0/24
          gateway: 12.12.0.1
